h1 {
    color: green;
}

body {
    font-family: sans-serif;
}

#setBtn {
    margin-top: 10px;
}

#block-container {
    text-align: center;
}
.hidden {
    visibility: hidden;
}

/* Doesn't work */
#wordage, #timer {
    display: inline;
}